<section class="cta-section">
  <div class="container">
    <h2>Jäsenpalvelut</h2>
    <p>Jäsenenämme pääset nauttimaan monipuolisesta ulkoilusta ja yhdessäolosta, sekä runsaista jäseneduista. Samalla autat meitä järjestämään ulkoilutoimintaa ja edistämään sekä lasten että aikuisten luontosuhdetta ja hyvinvointia luonnossa.</p>
    <div class="cta-buttons">
      <a href="{{ '/liity-jaseneksi/' | relative_url }}" class="btn btn-white">Liity jäseneksi</a>
      <a href="{{ '/jasenille/jasenedut/' | relative_url }}" class="btn btn-outline">Jäsenedut</a>
    </div>
  </div>
</section>