<nav class="site-nav">
  <div class="container">
    <ul class="nav-list">
      <li><a href="{{ '/tapahtumat/' | relative_url }}">Tapahtumat</a></li>
      <li>
        <a href="{{ '/jasenille/' | relative_url }}">Jäsenille</a>
        <ul class="sub-menu">
          <li><a href="{{ '/jasenille/jasenedut/' | relative_url }}">Jäsenedut</a></li>
          <li><a href="{{ '/jasenille/itseasiointi/' | relative_url }}">Jäsenten itseasiointisivusto</a></li>
          <li><a href="{{ '/jasenille/valinevuokraus/' | relative_url }}">Välinevuokraus</a></li>
          <li><a href="{{ '/jasenille/vaakkoin-erakamppa/' | relative_url }}">Vaakkoin eräkämppä</a></li>
          <li><a href="{{ '/jasenille/talviuinti-rastilassa/' | relative_url }}">Talviuinti Rastilassa</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ '/tietoa-meista/' | relative_url }}">Tietoa meistä</a>
        <ul class="sub-menu">
          <li><a href="{{ '/tietoa-meista/hallitus-ja-jaokset/' | relative_url }}">Hallitus ja jaokset</a></li>
          <li><a href="{{ '/tietoa-meista/maunulan-maja/' | relative_url }}">Maunulan ulkoilumaja</a></li>
          <li><a href="{{ '/tietoa-meista/saannot/' | relative_url }}">Säännöt ja pöytäkirjat</a></li>
          <li><a href="{{ '/tietoa-meista/toimintasuunnitelma/' | relative_url }}">Toimintasuunnitelma</a></li>
          <li><a href="{{ '/vaikuttaminen/' | relative_url }}">Vaikuttaminen</a></li>
          <li><a href="{{ '/tietoa-meista/vastuullisuus/' | relative_url }}">Vastuullisuus</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ '/tule-mukaan/' | relative_url }}">Tule mukaan</a>
        <ul class="sub-menu">
          <li><a href="{{ '/tule-mukaan/toiminta-ja-lajit/' | relative_url }}">Toiminta ja lajit</a></li>
          <li><a href="{{ '/ohjeet-ensikertalaiselle/' | relative_url }}">Ohjeet ensikertalaiselle</a></li>
          <li><a href="{{ '/tule-mukaan/toimi-vapaaehtoisena/' | relative_url }}">Toimi vapaaehtoisena</a></li>
          <li><a href="{{ '/tee-yhteistyota-kanssamme/' | relative_url }}">Tee yhteistyötä</a></li>
          <li><a href="{{ '/tule-mukaan/yhdessa-ulkoillen/' | relative_url }}">Yhdessä ulkoillen</a></li>
        </ul>
      </li>
      <li><a href="{{ '/ajankohtaista/' | relative_url }}">Ajankohtaista</a></li>
    </ul>
  </div>
</nav>